body{
    background-color: #DDDDDD;
}
.container{
    display: flex;
}
.right{
    
    width: 40%;
    height: 700px;
}
#stat{
    padding-top: 50px;
    font-size: 20px;
    text-align: center;
    width: auto;
    height: 250px;
    border-radius: 25px;
}
#map{
    width: 55%;
    height: 700px;
}
#myChart{
    padding: 25px 25px 25px 25px;
    
}
